frontend/node_modules
.vscode

flask-server/venv


flask-server/AFTER_STEMMING
flask-server/extracted_files
flask-server/stop_words_removed
flask-server/Binary_representation.csv
flask-server/Frequency_representation.csv
flask-server/R8_frequency_rep.csv
